[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
click = "*"
exceptiongroup = "*"
python-multipart = "*"
starlette = "*"
fastmcp = "*"

[dev-packages]

[requires]
python_version = "3.13"
